@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(15, 23 ,42,1 );
    color: #fff;
}

html{
    font-size: 62.5%;
}

@media only screen and (max-width: 25em) {
    html{
        font-size: 50%;
    } 
}
